<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="classes" thread-count="3">
	<test name="Regression2">
		<classes>
			<class name="seleniumtests.DropDownTest" />
			<class name="seleniumtests.ActionsDoubleClickTest" />
			<class name="seleniumtests.ActionsContextClickTest" />
			<class name="seleniumtests.AlertTest" />
		</classes>
	</test>
</suite>